# Example terraform.tfvars for bootstrap
# Fill in your actual values as appropriate

github_organization     = "example-org"
github_repository       = "terraform-vault-onboarding"
tfc_organization        = "example-tfc-org"
tfc_project             = "vault-onboarding"
tfc_token               = "your-tfc-api-token"

okta_org_name           = "your-okta-org-name"
okta_api_token          = "your-okta-api-token"
hcp_project_id          = "your-hcp-project-uuid"

okta_mgmt_groups = [
  "vault-admin",
  "vault-user",
]

okta_namespace_groups = [
  "vault-tn001-admin",
  "vault-tn002-admin",
  "vault-tn003-admin",
]

okta_users = {
  "vaultadmin@example.com" = {
    first_name = "Vault"
    last_name  = "Admin"
    password   = ""
    groups     = ["vault-admin"]
  },
  "testuser-bu1-team1-viewer@example.com" = {
    first_name = "testuser"
    last_name  = "bu1-team1-viewer"
    password   = ""
    groups     = ["vault-tn001-team1-viewer"]
  }
}
