### Terraform template
# Local .terraform directories
**/.terraform/*
**/.terraform.lock.hcl

# Local dev files
.config
.env
.idea
.kube
.ssh
env.sh

# Terraform state
**/terraform.tfstate.d/*
*.tfstate
*.tfstate.*

# Terraform plan
*.plan

# Terrafaor local tfvars
terraform.tfvars
backend.tf

scripts/
tests/

.claude/*
plans/
CLAUDE.md
