### Terraform template
# Local .terraform directories
**/.terraform/*

# Local dev files
.config
.env
.idea
.kube
.ssh
env.sh

# Terraform state
**/terraform.tfstate.d/*
*.tfstate
*.tfstate.*

# Terraform plan
*.plan
*.bak

# Terrafaor local tfvars
terraform.tfvars
backend.tf

tests/

.claude/*
plans/
CLAUDE.md
GEMINI.md

tmp/
